:root {
  --shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  --black: #393e46;
  --yellow: #ffd369;
  --white: #eeeeee;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1240px;
  width: 100%;
  padding: 20px;
}

form {
  background-color: var(--yellow);
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  font-weight: 700;
  margin-right: 10px;
}

form > * {
  margin: 5px 0;
}

.select-wrapper {
  position: relative;
}

select {
  padding: 0.75rem;
  border: none;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

img {
  max-width: 100%;
  box-shadow: var(--shadow);
  border-radius: 100%;
}

.title-head {
  color: white;
  text-shadow: var(--shadow);
}

.title {
  font-size: 1.5rem;
}

.top-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info-section {
  width: 100%;
}

.img-section {
  width: 100%;
}

.username {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: brown;
  margin: 5px 0;
}

.box {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  background-color: var(--white);
  display: grid;
  width: 100%;
  gap: 20px;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  margin: 20px 0;
}

.box.empty {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--shadow);
}

.pagination {
  display: flex;
  text-align: center;
}

.pagination-item-box {
  margin: 0 5px;
}

.pagination-item {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: var(--shadow);
  padding: 7px 12px;
  color: var(--black);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: inherit;
}

.pagination-active {
  background-color: salmon;
}
