* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  background-color: #ffd369;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  margin: 2em 0;
}

.wrapper {
  margin: 20px;
  border-radius: 7px;
  padding: 20px;
  color: white;
  background-color: #393e46;
}

.input {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn {
  font-family: inherit;
  margin-left: 10px;
  padding: 0.5em 1.7em;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

.box {
  padding: 20px;
  box-sizing: border-box;
  background-color: #222831;
  border-radius: 7px;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  min-width: 450px;
}
