* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #364547;
  --green: #2f5d62;
  --lightBlack: #3a4750;
  --red: #d72323;
  --yellow: #ffe268;
  --orange: #ffb037;
  --white: #eeeeee;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

card-game-board {
  margin: 40px;
}

.card-game img {
  max-width: 100%;
  display: inline-block;
}

.card-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 150px));
  gap: 20px;
}

.start-modal {
  display: none;
  background-color: rgba(192, 189, 189, 0.842);
  align-items: center;
  justify-content: center;
}

.start-modal.open {
  display: flex;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-content {
  padding: 80px 40px;
  /* background: #222831; */
  background: var(--black);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  /* background-color: #ececec; */
  /* padding: 10px; */
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-game {
  position: relative;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 250px;
  transform-style: preserve-3d;

  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.level {
  padding: 0.5rem;
  border-radius: 7px;
}

.front,
.back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backface-visibility: hidden;
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.front {
  border: 3px solid black;
  border-radius: 10px;
  /* background: #222831; */
  background: var(--lightBlack);
}

.back {
  border-radius: 10px;
  border: 3px solid black;

  transform: rotateY(180deg);
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.card-game > * {
  pointer-events: none;
}

.card-game.choosen {
  pointer-events: none;
  transform: rotateY(180deg);
}

.card-game.isMatch {
  pointer-events: none;
  transform: rotateY(180deg);
}

/* Status */
.status {
  background: var(--green);
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.score {
  color: white;
  font-weight: 500;
  /* background-color: rgb(73, 64, 58); */
  background-color: var(--green);
  padding: 14px;
  border-radius: 7px;
}

.button {
  font-family: inherit;
  padding: 0.7rem 1rem;
  font-weight: 500;
  background: var(--yellow);
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 7px;
}

.control > * {
  margin: 5px 0;
}

.control {
  margin-bottom: 20px;
}
